.card {
  background-color: var(--gray);
  max-width: 24rem;
  border-radius: 0.5rem;
  border-width: 1px;
  border-color: var(--gray);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  object-fit: cover;
  max-width: 100%;
}

.body {
  padding: 1.25rem;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.metaData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: var(--text);
  grid-auto-flow: column;
  font-size: 0.75rem;
}

.storyInfo {
  text-align: right;
  color: var(--primary);
}

.title {
  color: var(--text-dark);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  height: 150px;
}
